@model SimplyAds.Models.Advert

@{
    ViewBag.Title = "SelectedAd";
    Layout = ViewBag.Layout;
}

<h2>Selected Ad</h2>
<p>
    <a data-toggle="modal" href="#new-entry" data-update-id="@Model.ID">Add Update</a>
</p>

<div>
    <dl class="dl-horizontal">
        <dt>
           Reference Number
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferenceNo)
        </dd>

        <dt>
            Paystack Transaction Reference
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionReference)
        </dd>

        <dt>
            Customer Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            Customer Phone
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerPhone)
        </dd>

        <dt>
            Customer Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>

        <dt>
            Content
        </dt>
        <dd> 
            <a href="~/AdContent/@Model.AdContent.FilePath">Added Content</a>
            @*@Url.Content("~/AdContent/" + @Model.AdContent.FilePath)*@
        </dd>

        <dt>
            Content Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdContent.ContentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePlaced)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatePlaced)
        </dd>               

        <dt>
            @Html.DisplayNameFor(model => model.NoOfCars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoOfCars)
        </dd>        

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            Urgent ?
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Urgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Treated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Treated)
        </dd>

        @if (Model.Treated)
        {
            <dt>
                Date Treated
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateTreated)
            </dd>

            <dt>
                Treated By
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TreatedBy)
            </dd>
        }
    </dl>
</div>
@if (!Model.Treated)
{
    using(Html.BeginForm("TreatAdPlacement", "Admin",
        new { referenceNo = Model.ReferenceNo }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Mark as treated</button>
    }
}

@if (Model.AdUpdates.Count > 0)
{
    foreach (var adUpdate in Model.AdUpdates)
    {
        if (!adUpdate.Deleted)
        {
            <blockquote>
                <p><b>@adUpdate.Text</b></p>
                <footer>@adUpdate.DateCreated.ToShortDateString()</footer>
                <div class="small">
                    <a data-toggle="modal" href="#edit-entry" data-update-id="@adUpdate.ID">Edit</a> |
                    <a data-toggle="modal" href="#delete-entry" data-update-id="@adUpdate.ID">Delete</a>
                </div>
            </blockquote>
        }
    }
}


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#edit-entry').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('update-id');
                var link = '@Url.Action("Edit", "AdUpdate")' + '/' + id;
                @*var link = '@Url.Action("Advert", "Admin" )';*@
                $.ajax({
                    url: link,
                    //data: { referenceNo: adRefNo },
                    success: function (result) {
                        $('#editAd').html(result);
                    }
                });
            });

            $('#new-entry').on('show.bs.modal', function (event) {
                var link = '@Url.Action("Create", "AdUpdate")';
                var button = $(event.relatedTarget);
                var id = button.data('update-id');
                $.ajax({
                    url: link,
                    data: { advertId: id},
                    success: function (result) {
                        $('#newEntry').html(result);
                    }
                });
            });

            $('#delete-entry').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('update-id');
                var modal = $(this)
                modal.find('.ad-update-id').val(id)

            });

        });
    </script>
}

<div class="modal fade" id="new-entry" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title text-center text-info">New Update</h2>
            </div>
            <div class="modal-body">
                <div id="newEntry"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-entry" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title text-center text-info">Edit Update</h2>
            </div>
            <div class="modal-body">
                <div id="editAd"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-entry" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title text-center text-info">Duration Updsate</h2>
            </div>
            <div class="modal-body">
                <p class="text-center"> Are you sure you want to delete this entry ? </p>
                <div id="delete-form">
                    @using (Html.BeginForm("Delete", "AdUpdate", new { }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" class="ad-update-id">
                        <button type="submit" class="btn btn-danger text-uppercase">Delete</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>