<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SimplyAds</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/styleSheets")
    @Styles.Render("~/Content/jqueryui")
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top navigation js-navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img alt="" src="~/Assets/logo.png" class="logo">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right main-nav">
                        @*<li><a href="/" style="color: rgba(64,224,208,0.8); font-weight: 700;" class="text-uppercase nav-link">Home</a></li>*@
                        @if (!Request.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("About", "Home")" style="color: rgba(64,224,208, 0.8); font-weight: 700;" class="text-uppercase nav-link">About Us</a></li>
                            @*<li>@Html.ActionLink("Log In", "Login", "Account", new { }, new { style = "color: rgba(64,224,208, 0.8); font-weight: 700;" })</li>*@
                        }
                        @*@Html.Partial("_LoginPartial")*@
                    </ul>
                    @if (User.IsInRole("Admin"))
                    {
                        <ul class="nav navbar-nav navbar-right main-nav">
                            <li>@Html.ActionLink("Adverts", "AllAdverts", "Admin", null, new { style = "color: rgba(64,224,208, 0.8); font-weight: 700;" })</li>
                            <li>@Html.ActionLink("Car", "Index", "Car", null, new { style = "color: rgba(64,224,208, 0.8); font-weight: 700;" })</li>
                            <li>@Html.ActionLink("Content", "Index", "ContentPricing", null, new { style = "color: rgba(64,224,208, 0.8); font-weight: 700;" })</li>
                            <li>@Html.ActionLink("Duration", "Index", "Duration", null, new { style = "color: rgba(64,224,208, 0.8); font-weight: 700;" })</li>

                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: rgba(64,224,208, 0.8); font-weight: 700;">
                                    Admin <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Add User", "Register", "Account", null, new { style = "color: rgba(64,224,208, 0.8); font-weight: 700;" })</li>
                                    <li>@Html.ActionLink("Log Out", "LogOff", "Account", null, new { style = "color: rgba(64,224,208, 0.8); font-weight: 700;" })</li>
                                </ul>
                            </li>

                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    @*<div class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 50px;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="navbar-collapse collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Adverts", "AllAdverts", "Admin")</li>
                            <li>@Html.ActionLink("Car", "Index", "Car")</li>
                            <li>@Html.ActionLink("Content", "Index", "ContentPricing")</li>
                            <li>@Html.ActionLink("Duration", "Index", "Duration")</li>
                        </ul>
                    </div>
                }
            </div>
        </div>*@
    @*<div class="container body-content" style="margin-top: 60px;">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@
    <main class="main-content">
        @RenderBody()
              
    </main>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
